version: '3.9'

services:
  # ------------------------------------
  # APPLICATION PHP (SERVEUR WEB)
  # ------------------------------------
  app:
    build: .
    container_name: taupe-meubles-app

    volumes:
      - ./www:/var/www/html #TODO remettre le :ro # Mettre le code source en lecture seule
      - ./security.conf:/etc/apache2/conf-enabled/security.conf:ro

    ports:
      - "8080:80"

    # Utilisation des variables d'environnement pour la configuration de la base de données
    environment:
        DB_HOST: db
        DB_USER: ${DB_USER}
        DB_PASSWORD: ${DB_PASSWORD}
        DB_NAME: ${DB_NAME}
        DB_ID_USER: ${DB_ID_USER}

    depends_on:
      - db

    #TODO normalement on devrait utiliser le fichier Initialiser.php
    #command: php Initialiser.php && apache2-foreground

    restart: unless-stopped

  # ------------------------------------
  # BASE DE DONNÉES MySQL
  # ------------------------------------
  db:
    image: mysql:8.0.43
    container_name: taupe-meubles-db

    # Utilisation des variables d'environnement pour la configuration de la base de données
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}

    volumes:
      - db_data:/var/lib/mysql

    ports:
    - "3306:3306" #TODO à supprimer en production

    restart: unless-stopped

networks:
  taupe-meubles-network:
    driver: bridge

volumes:
  db_data:
    driver: local
