version: '3.9'

services:
  # ------------------------------------
  # APPLICATION PHP (SERVEUR WEB)
  # ------------------------------------
  app:
    build: .
    container_name: taupe-meubles-app

    volumes:
      - ./www:/var/www/html #TODO remettre le :ro # Montre le code source en lecture seule`
      - ./security.conf:/etc/apache2/conf-enabled/security.conf:ro

    ports:
      - "8080:80"

    #TODO Utiliser des variables d'environnement plutot que des valeurs en dur dans Parametre.php
    #    environment:
    #      DB_HOST: 127.0.0.1
    #      DB_NAME: TaupeMeubles
    #      DB_USER: root
    #      DB_PASSWORD: password

    depends_on:
      - db

    #TODO normalement on devrait utiliser le fichier Initialiser.php
    #command: php Initialiser.php && apache2-foreground

    restart: unless-stopped

  # ------------------------------------
  # BASE DE DONNÉES MySQL
  # ------------------------------------
  db:
    image: mysql:8.0.43
    container_name: taupe-meubles-db

#TODO Modifier les valeurs et les mettre dans un fichier .env
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: TaupeMeubles
      MYSQL_USER: taupe_user
      MYSQL_PASSWORD: taupe_password

    volumes:
      - db_data:/var/lib/mysql

    ports:
    - "3306:3306" #TODO à supprimer en production

    restart: unless-stopped

networks:
  taupe-meubles-network:
    driver: bridge

volumes:
  db_data:
    driver: local
