# Désactiver le listing des dossiers
Options -Indexes

# Refuserer les accès depuis l'url aux images sauf si elles sont appelées par une page du site
<FilesMatch "\.(jpg|jpeg|png|gif|svg)$">
    # TODO Ajouter l'ip du serveur pour le deploiement
    SetEnvIfNoCase Referer "^https?://(www\.)?(localhost|127\.0\.0\.1)([:/]|$)" allow_ref
    Order Deny,Allow
    Deny from all
    Allow from env=allow_ref
</FilesMatch>